@import "mixins";

@import "components/container";
@import "components/button";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Arial;
}

.font-bold {
  font-weight: 700;
}

.font-bolder {
  font-weight: 900;
}

.title-has-border {
  &.border-center {
    &::after {
      margin: 5px auto 0 auto;

      @include mdResponsiveSize() {
        margin: 5px 0;
      }
    }
  }

  &::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #7c141b;
    display: block;
    margin-top: 5px;

    @include mdResponsiveSize() {
      width: 7%;
    }
  }
}

.hide-sm {
  @include smResponsiveSize() {
    display: none !important;
  }
}

.hide-md {
  @include mdResponsiveSize() {
    display: none !important;
  }
}
.hide-lg {
  @include mdResponsiveSize() {
    font-size: 16px;
  }
}
.padding-top{
  padding-top: 2rem;
}
