@import "./../mixins";

.header {
  @include makeFlex(space-between);
  width: 100%;
  padding: 0 16px;

  &-logo {
    @include makeFlex();
    text-decoration: none;
    vertical-align: middle;
    width: 200px;
    height: 97px;
  }

  &-nav {
    display: none;

    @include mdResponsiveSize() {
      @include makeFlex(flex-end);
    }

    &-menu {
      padding: 16px 0;
      &-item {
        display: inline-block;
        margin-right: 64px;

        &:last-child {
          margin-right: 32px;
        }

        a {
          text-decoration: none;
          font-weight: 700;
          color: #000;
          text-transform: uppercase;
          font-size: 16px;

          &.nuxt-link-exact-active {
            &::after {
              content: "";
              width: 30px;
              height: 2px;
              margin: 5px auto -10px auto;
              background-color: #7c141b;
              display: block;
            }
          }
        }
      }
    }

    &-lang {
      border-left: 1px solid #dadada;
      padding: 16px 0;

      &-item {
        display: inline-block;
        margin-left: 32px;

        a {
          text-transform: uppercase;
          color: #000;
          text-decoration: none;

          &.nuxt-link-exact-active {
            font-weight: 700;
          }
        }
      }
    }
  }

  &-mobile {
    display: block;

    @include mdResponsiveSize() {
      display: none;
    }

    &-trigger {
      cursor: pointer;
      width: 30px;
      height: 25px;

      i {
        background-color: #000;
        border-radius: 2px;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
      }
      i:nth-child(1) {
        -webkit-animation: outT 0.8s backwards;
        animation: outT 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
      i:nth-child(2) {
        margin: 5px 0;
        -webkit-animation: outM 0.8s backwards;
        animation: outM 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
      i:nth-child(3) {
        -webkit-animation: outBtm 0.8s backwards;
        animation: outBtm 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
      }
      &.active {
        i:nth-child(1) {
          -webkit-animation: inT 0.8s forwards;
          animation: inT 0.8s forwards;
        }
        i:nth-child(2) {
          -webkit-animation: inM 0.8s forwards;
          animation: inM 0.8s forwards;
        }
        i:nth-child(3) {
          -webkit-animation: inBtm 0.8s forwards;
          animation: inBtm 0.8s forwards;
        }
      }
    }

    &-menu {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #fff;
      z-index: 99;
      width: 60%;
      padding: 0;
      margin: 0;
      border-right: 1px solid #ddd;

      &.active {
        display: block;
      }

      li {
        list-style: none;
        padding: 10px 30px;
        text-align: center;
        display: block;
        a {
          color: #000;
          text-decoration: none;
          padding: 10px 0;
          display: block;
          text-transform: uppercase;
          font-weight: 700;

          &.nuxt-link-exact-active {
            &::after {
              content: "";
              width: 30px;
              height: 2px;
              background-color: #7c141b;
              display: block;
              margin: 5px auto 0 auto;
            }
          }
        }
      }
    }
  }
}

// KEYFRAMES

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
